/*Use this for Custom CSS*/

h1{
	margin-top:20px;
	margin-bottom:0px;
	text-align: center;
}

h2{
	margin-top:5px;
	margin-bottom:0px;
	text-align: center;
}

h3{
	margin-top:5px;
	margin-bottom:5px;
	text-align: center;
}
h4{
	margin-bottom:0px;
	text-align: center;
}
h5{
	margin-bottom:0px;
	text-align: center;
}
h6{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

ul{
   text-align: center;
    }
hr{
	margin-top:5px;
	margin-bottom:5px;
}
p {
	margin-top:2px;
	margin-bottom:2px;
}
a{
	color:black;
}
body{
	font-family: 'PT Serif', serif;
}
.navbar-nav>li>a {
padding-top: 35px;
padding-bottom: 44px;
padding-left: 10px;
padding-right: 10px;
font-size: 24px;
font-weight:500px;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: black;
background-color: #FAF291;
}

.photo{
	margin-left:8%;
}

.contact{
	font-weight:600;
	font-color:white;
}
.aboutphoto {
	margin-left:10%;
    outline:0;
    max-width:75%;
    height:auto;
}

/*@media (min-width:1000px){
.nav{
margin-left: 15%;
}
}*/

.workpage{
	background-color:#FFFAF0;
}
.about{
	background-color:#FFFAF0;
}
@media(min-width:768px){
.colright{
	margin-left:-4%;
}

.workright{
	margin-left:-15%;
}
}

.btn{
	margin-left:25%;
}

.navbarlogo{
	position:fixed;
	top:-100px;
}
.navlogo{
	padding-top:5px;
	padding-bottom:5px;
}


.nav-pills{
	margin-top:10%;
	opacity:.8;
	background-color: white;
	border:2px solid black;
	padding-left:5px;
	padding-right:5px;

}
@media(min-width:768px){
.contact{
	background-image: url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/1465732_669617773146051_4918851674607818568_o.jpg") no-repeat center center fixed;
	background-position: 0px -100px;
  	background-size: cover;
  	color:#141414;
  	font-weight:900;
  	min-height: 100%;
 	min-width: 768px;
}	



}

@media(max-width:768px){
.contact{
	background:transparent;
	background-color:#FFFAF0;
}	
.colright{
	margin-top:10px;
}

}
