/*Use this for Custom CSS*/
h3{
	margin-top:5px;
	margin-bottom:0px;
}
h4{
	margin-bottom:0px;
}
h5{
	margin-bottom:0px;
}
h6{
	margin-top: 0px;
	margin-bottom: 0px;
}

ul{
   text-align: center;
    }
hr{
	margin-top:5px;
	margin-bottom:5px;
}
p {
	margin-top:2px;
	margin-bottom:2px;
}
.navbar-nav>li>a {
padding-top: 35px;
padding-bottom: 44px;
padding-left: 10px;
padding-right: 10px;
font-size: 24px;
font-weight:500px;

}
.contact{
	font-weight:600;
}
@media (min-width:1000px){
.nav{
margin-left: 15%;
}
}


.navbarlogo{
	position:fixed;
	top:-100px;
}
.navlogo{
	padding-top:5px;
	padding-bottom:5px;
}
.sandsheader{
	text-align: center;
}
.basicburger{
	margin-left:5px; 
}

.socialmedialinks{
	margin-top:-1050px;
	margin-left:10px;
}
.maps{
	margin-left:10px;
}
.footer{
	position:absolute;
	bottom:5px;
	margin-left:20%;
	background-color:white;
}
p.icecream{
	margin-bottom:0px;
	font-color:red;
}
.burgers{
	background-color:#D1D1D1;
}
.snacks{
	background-color: #D1D1D1;
}
.shakes{
	background-color: #D1D1D1;
}
.shakesheader{
	text-align: center;
}
.burgerheaders{
	text-align: center;
}


.nav-pills{
	margin-top:15%;
	opacity:.8;
	background-color: white;
	border:2px solid black;
}
@media(min-width:768px){
.homepage{
	background-image: url("https://scottandalliebuyahouse.files.wordpress.com/2014/08/11-summer-2014.jpg") no-repeat center center fixed;
  	background-size: cover;
  	min-height: 100%;
 	min-width: 768px;
}	
}

@media(max-width:768px){
.homepage{
	background-image: url("http://reubenmiller.typepad.com/.a/6a00d8341ca70953ef016760ed2c00970b-500wi");
	background-size: cover;
  	min-height: 100%;
}	
}
@media (max-width:768px) { 
.navlogo{
display:none;
}
}

